<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::layout(~{::section})}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<section>
	  <div id="login">
          <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" style="height:230px" class="col-md-12 container">
                    <div th:if="${session.message}" class="container">
				        <div class="alert text-center">
				          <span >check your email</span>  
				        </div>
				        <th:block th:text="${@sessionHelper.removeMessageFromSession()}"></th:block>
				    </div>
                        <h3 class="text-center mb-3 mt-3">Your Registered Email Here....</h3>
                        <form th:action="@{/send-otp}" class="form" method="post">
                        
                        <div class="form-group" >
                        <input name="email" type="email" placeholder="enter your email" class="form-control" />
                        </div>
                        <div class="container text-center mt-3">
                        <button type="submit"  class="btn btn-success">Get OTP</button>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
	</section>
</body>
</html>